body
{
	margin: 0px;
    overflow-x: hidden;
    padding: 0px !important;
}
.container
{
    max-width: 1340px;
}

.row
{
	margin: 0px;
}
.pos-rel
{
    position: relative;
}
@font-face 
{
  font-family: lato;
  src: url('./fonts/Lato-Light.ttf');
}
@font-face 
{
  font-family: bebas-reg;
  src: url('./fonts/BebasNeue-Regular.ttf');
}
*
{
  font-family: lato !important;
}
.col
{
	padding: 0px;
}

.post_thumbnail_homeposts_even img
{
    width: 95%;
    float: right;
    height: 100%;
}
.post_thumbnail_homeposts_odd img
{
    float: left;
    width: 95%;
    height: 100%;
}
.h1 
{
  font-size:50px;
  text-align:center;
  font-family: 'Erica One', cursive;
  padding: 10% 0;
  width: 100%;
}

#changingword 
{
    color: #fff;
    font-size: 80px;
    line-height: 80px;
    font-family: 'bebas-reg' !important;
    letter-spacing: 11.4px;
}
.mian_banner_gif_row
{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
.auto_typer_row
{
position: absolute;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    color: #fff;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0px;
    align-items: center;
    width: 100%;
    text-align: center;
}
.odd_columns_homeposts
{
    padding: 97px 0;
    min-height: 250px;
    position: relative;
    max-width: 500px;
    margin-left: 40px;
}
.inner-contianer
{
	padding: 97px 0;
    min-height: 250px;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    margin-right: 50px;
}
.odd_post_homeposts_row
{
	border-bottom: 3px solid #cccc;
}
.even_column_homeposts
{
	border-bottom: 3px solid #cccc;
}
.margin-auto img
{
	margin: 0 auto;
}
.col-md-4.data_columns_home_page.text-center 
{
    border-right: 1px dashed #000;	
    border-bottom: 1px dashed #000;
    border-top: 1px dashed #000;
    padding: 30px;
        height: 220px;
}
a.view-case-study
{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 13px;
    margin: 10px;
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
    color: #fff;
    display: none;
        margin: 0 auto;
}
.col-md-4.data_columns_home_page.text-center:hover 
{
    background: #9f1826;
	color: #fff;
	/*padding: 10px;*/
}
.col-md-4.data_columns_home_page.text-center:hover a.view-case-study
{
	display: block;
}
.the_excerpt_data
{
	font-size: 13px;
}
.heaidng_home_page
{
    font-size: 45px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
.tagline_heading_data_home-page
{
    display: block;
    width: 100%;
    padding: 10px 0;
    font-family: 'birds_of_paradiseregular';
    font-size: 31px;
    text-transform: capitalize;
    color: #3e4349;
    text-align: center;
}
.data-section_home-page
{
	padding: 30px 0px;
}
.article-section_home-page
{
    background: #9f1826;
    padding: 20px 0;
    color: #fff;
    padding-bottom: 100px;
}
.article_blck
{
    background: #8c1520;
    padding: 10px;
    max-width: 361px;
    margin-right: 10px;
    height: 388px;
    margin: 0 auto;
}
.article_title
{
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 0 10px;
}
.article_content
{
    line-height: 23px;
    padding-bottom: 8px;
}
.article_detail
{
    font-style: italic;
    color: #be7b81;
    font-size: 12px;
    padding: 10px 0;
}
.article_thumbnial img
{
	width: 100%;
}
.article_content p
{
	margin-bottom: 0px;
}
.tagline_heading_article_home-page
{
    display: block;
    width: 100%;
    padding: 10px 0;
    font-family: 'birds_of_paradiseregular';
    font-size: 31px;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}

.click_home_pst:not(.mobile-link)
{
    display: inline-block;
    font-size: 18px;
    color: #f23051;
    vertical-align: top;
    background: url(./images/arrow.svg) no-repeat center right 10px;
    padding-right: 70px;
    font-weight: 700;
    transition: all 300ms;
        border: 1px solid red;
    padding: 10px 70px 10px 20px;
}
.click_home_pst:not(.mobile-link):hover 
{
    background-position: center right 0;
}
.block_servies_home-page
{
    width: auto;
    float: left;
    margin: 0 auto;
}
.services_post_thumbnail img
{
	margin: 0 auto
}
.title_post_services
{
    color: #3e4349;
    font-size: 31px;
    display: block;
}
.container-fluid.row .block_servies_home-page:last-child 
{
    margin: 0px;
}
.section_services_homepage
{
	padding: 30px 0px;
}
.section_services_homepage .container-fluid
{
    width: 80%;
    margin: 0 auto;
}
.edit-address
{
    background: url(./images/pen-icon.png);
    background-size: 23px 23px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 35px;
}
.dis-flex
{
	display: flex;
	align-items: center;
}
.location-address
{
    background: url(./images/address-icon.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: center left;
    padding-left: 35px;
}
.phone-address
{
    background: url(./images/phone-icon.png);
    background-size: 28px 23px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
footer .container
{
	padding: 20px 0px;
}
header
{
    /*background: red;*/
    display: block;
    box-shadow: 1px 1px 11px #ccc;
    padding: ;
}
.main-menu_header ul
{
	display: flex;
	list-style: none;
	margin: 0px;
}
.main-menu_header ul a
{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    /* font-family: Lato; */
    line-height: normal;
    color: #000;
    /* font-family: 'Lato-Regular'; */
}
.main-menu_header ul a:hover
{
	color: red
}
.main-menu_header ul li
{
	margin-left: 20px;
	position: relative;
}

.header_button a
{
    border: 2px solid #000;
    padding: 8px 11px;
    font-size: 16px;
    font-family: Lato;
    line-height: normal;
    color: #000;
    font-family: 'Lato-Regular';
    text-transform: capitalize;
    text-decoration: none;
}
.header_button a:hover
{
    background: #f52f50;
    color: #fff;
}

.sub-menu-lgo-container ul 
{
    margin-bottom: 20px;
}

.sub-menu-lgo-container ul li 
{
    line-height: 22px;
}
.sub-menu-lgo-container ul li a 
{
	color: #fff;
    font-size: 15px;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    text-transform: capitalize;
    transition: all .25s ease;
}
.sub-menu-lgo-container ul li a:hover 
{
	color: #000;
}
.sub-menu-lgo-container ul 
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sub-menu-lgo-container
{
	position: absolute;
    z-index: 999;
    background: #fff;
    background: #cc292c none repeat scroll 0 0;
    border-radius: 4px 3px;
    padding: 20px 40px;
    width: 750px;
    left: -90%;
    margin-top: 20px;
    display: none;
}
.sub-menu-lgo-container .row .col-md-6
{
	width: 230px;
}
.sub-menu-lgo-container label
{
    color: #000 !important;
    font-size: 20px !important;
    /* font-family: "NoticiaTextRegular", serif !important; */
    text-transform: capitalize;
    border-bottom: 1px solid #E07F80;
    padding-bottom: 5px;
    width: 85%;
    margin-bottom: 10px;
}
.section_fullservices
{
    background: url(./images/agency-bg.jpg) center top no-repeat;
    background-size: cover;
    padding: 30px 30px 40px;
}
.heading_full_services h1
{
    font-size: 35px;
    color: #fff;
    margin: 30px 0;
    text-align: center;
}
.col.services_home-page_columns ul li 
{
    margin-bottom: 10px;
}

.col.services_home-page_columns ul 
{
    padding: 0px;
    list-style: none;
}
.col.services_home-page_columns ul li a 
{
    color: #d9d9ef;
    font-size: 16px;
}
.col.services_home-page_columns label 
{
    font-size: 17px;
    color: #ffffff;
    /* font-family: 'Lato-Bold'; */
    margin: 20px 0;
    text-transform: capitalize;
}
ul.sub-menu li 
{
    margin: 0px;
    /* background: #fff; */
    margin-bottom: 10px;
    padding: 10px;
    position: relative;

}

ul.sub-menu 
{
    position: absolute;
    padding: 0px;
    display: block;
    left: 0px;
    text-align: left;
    width: 240px;
    z-index: 99998;
    display: none;
    background: #fff;
    top: 48px;
}
li.menu-item-has-children:hover ul.sub-menu
{
    display: block;
}
ul.sub-menu li:hover 
{
    background: #cccc;
}
ul.sub-menu li a
{
	color: #000 !important;
}
ul.sub-menu li ul.sub-menu
{
	position: absolute;
    padding: 0px;
    display: block;
    left: 240px;
    text-align: left;
    width: 240px;
     display: none; 
    background: #fff;
    top: 0px;
    z-index: 999;
}
.services_services-page
{
    color: #3e4349;
    font-size: 18px;
    text-decoration: none;
    font-family: 'bebas-reg' !important;
    background: #e5e5e5;
    padding: 10px 15px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    text-transform: capitalize;
    /*font-weight: 1000;*/
    text-decoration: none;
    transition: all .25s ease;
}
.services_left-block
{
	margin-bottom: 5px;
}
.services_page_main-container
{
	padding: 30px 0px;
}
.services_services-page:hover
{
    background: #CC292C;
    color: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.heading_service_page 
{
    font-family: 'bebas-reg' !important;
    font-size: 50px;
    font-weight: normal;
    color: #3e4349;
    margin: 0px;
    padding: 0px;
      /*font-family: bebas-nueue;*/
    line-height: 1;
}
.tagline_heading_service_page 
{
    font-size: 27px;
    line-height: 40px;
    margin: 10px 0px;
    font-family: 'bebas-reg' !important;
    letter-spacing: 1px;
}
.des_heading_service_page 
{
    font-family: 'Arial';
    font-size: 22px;
    color: #3e4349;
    margin: 0px;
    padding: 0px;
    line-height: normal;
}
.leran-more_service_page
{
	    padding: 13px;
    font-family: 'Arial';
    color: #3e4349;
    font-size: 14px;
    background: #f0f0f0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-decoration: none;
    text-transform: capitalize;
}
.leran-more_service_page:hover
{
	color: #fff;
    background: #cc292c;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -ms-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}
.services-container .row
{
	margin: 20px 0px;
    padding: 30px 0px;
    border-bottom: 1px solid #cccc;
}
.title_services_right-block
{
	font-size: 31px;
    color: #3e4349;
    line-height: 1;
    font-family: 'bebas-reg' !important;
    margin: 0 0 10px 0;
    text-transform: capitalize;
    text-decoration: none;
}
.title_services_right-block:hover
{
	font-size: 31px;
	cursor: pointer;
    text-decoration: none;
    color: #3e4349;
    line-height: 1;
    /*font-family: 'BebasNeue';*/
    margin: 0 0 10px 0;
    text-transform: capitalize;
}
.content_service_services_page
{
	font-size: 14px;
    color: #3e4349;
    line-height: 25px;
    text-align: justify;
    font-family: 'Arial';
    margin: 0 0 30px 0;
    /*width: 85%;*/
    margin: 20px 0px;
}
.the_post_thumbnail_serivees_page img
{
	margin: 0 auto;	
}
.heading_services_prmotion
{
    font-family: 'bebas-reg' !important;
    font-size: 56px;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px 0 12px 0;
    margin: 0px;
    line-height: normal;
    text-align: center;
}
.descrption_services_prmotion 
{
    font-size: 16px;
    color: #434343;
    margin: 0px;
    line-height: 24px;
    padding: 0 135px;
    text-align: center;
}
.promo_services_page_row
{
    background: #E5E5E5;
    padding: 40px 0px;
}
.margin-auto
{
	margin:0 auto;
}
.request_a_quote a
{
    background: none repeat scroll 0 0 #CC292C;
    border-radius: 60px;
    color: #FFFFFF;
    display: block;
     font-family: 'bebas-reg' !important; 
    font-size: 30px;
    line-height: normal;
    margin: 30px auto;
    padding: 10px 39px;
    text-transform: uppercase;
    width: 335px;
    /* margin: 0 auto; */
    text-align: center;
    text-decoration: none;
}
.request_a_quote a:hover
{
	color: #cc292c;
    background: #000;
    text-decoration: none;
    -webkit-transition: all .85s ease;
    -moz-transition: all .85s ease;
    -ms-transition: all .85s ease;
    -o-transition: all .85s ease;
    text-decoration: none;
    transition: all .85s ease;
}
.form_quote_req
{
	position: fixed;
    z-index: 9999;
    width: 100%;
    left: 0px;
    /* background: #000; */
    background: #333;
    opacity: 0.9;
    top: 0px;
    display: flex;
    height: 100%;
    align-items: center;
    display: none;
}
.heading_form_req
{
	font-size: 70px;
    color: #fff;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-family: 'BebasNeue';
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 2px 2px #000000;
    text-transform: capitalize;
}
.description_form_req
{
    font-size: 20px;
    color: #fff;
    margin: 5px 0 15px 0;
    padding: 0px;
    line-height: normal;
    font-family: 'BebasNeue';
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 2px 2px #000000;
    text-transform: uppercase;
    width: 74%;
    margin: 0 auto;
}
.main-bg-req-form
{
	background: #cc292c;
    border-radius: 10px;
    position: relative;
}
.inner-container_form-req
{
	width:70%;
	margin: 0 auto;
}
.inner-container_form-req .col-md-4 input,
.inner-container_form-req .col-md-4 select
{
	    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
        width: 95%;
    padding: 0px;
    height: 33px;
    line-height: 33px;
    text-indent: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin-bottom: 20px;
}
.inner-container_form-req textarea
{
		    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    width: 95%;
    padding: 0px;
    height: 33px;
    line-height: 33px;
    text-indent: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 81px;
    resize: none;
}
::placeholder
{
	text-transform: capitalize;
}
.button_send_req_form a
{
	background: #000 ;
    color: #fff ;
    font-weight: bold;
    font-size: 16px ;
    cursor: pointer;
    padding: 30px 12px;
    text-shadow: inherit ;
    text-transform: uppercase;
    border: none;
    float: left;
}
.cross_icon_req_form
{
    position: absolute;
    top: 14px;
    right: 27px;
    cursor: pointer;
    color: #fff;
}
.heading_agency_page
{
    color: #3E4349;
    font-family: 'bebas-reg' !important;
    font-size: 74px;
    line-height: normal;
    margin: 0px;
    padding: 20px 0 20px 0;
    font-weight: normal;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
.heading_agency_page span,
.sub_heading_agency_page span
{
    color: #cc292c;
    font-family: 'bebas-reg' !important;
}
.description_heading_agency_page 
{
    font-size: 22px;
    color: #3e4349;
    margin: 0 0 40px 0;
    line-height: normal;
    text-align: center;
}
.sub_heading_agency_page 
{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: 'bebas-reg' !important;
    color: #3e4349;
    margin: 40px 0 20px 0;
    line-height: normal;
    text-align: center;
}
.the_post_thumbnail_agency img
{
	margin: 0 auto;
}
.the_title_agency
{
    text-align: center;
    display: block;
    line-height: normal;
    font-size: 20px;
    margin: 10px 0px;
}
.the_content_agency p
{
	margin: 10px 0px;
	font-size: 14px;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.about-us_agency
{
    background: #9f1826 url(./images/agency_about.jpg) no-repeat top center;
    display: block;
    min-height: 100vh;
}
.first_left
{
    margin-top: 262px;
    display: block;
    color: #ffff;
    width: 40%;
    text-align: right;
    float: left;
    /* margin-left: -130px; */
    padding-right: 85px;
}
.first_right
{
    margin-top: 119px;
    display: block;
    color: #ffff;
    width: 30%;
    float: right;
    text-align: left;
    padding-right: 85px;
}
.blocks strong
{
	width: 100%;
	float: left;
}
.heading_aboutus_agency
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}
.row-second-agency
{
	width: 100%;
	position: relative;
}
.row-second-agency .first_right 
{
    margin-top: 29px;
    display: block;
    color: #ffff;
    width: 36%;
    float: right;
    text-align: left;
    /* padding-left: 238px; */
    position: absolute;
    right: 0;
}
.row-third-agency,
.row-fourth-agency
{
	width: 100%;
	position: relative;
}
.row-third-agency .first_right 
{
    margin-top: 29px;
    display: block;
    color: #ffff;
    width: 30%;
    float: right;
    text-align: left;
    /* padding-left: 238px; */
    position: absolute;
    right: 0;
}

.row-fourth-agency .first_right 
{
    margin-top: 70px;
    display: block;
    color: #ffff;
    width: 38%;
    float: right;
    text-align: left;
    /* padding-left: 238px; */
    position: absolute;
    right: 0;
}
.row-fourth-agency  .first_left 
{
    margin-top: 220px;
    display: block;
    color: #ffff;
    width: 45%;
    text-align: right;
    float: left;
    /* margin-left: -130px; */
    padding-right: 0;
}
.heading_bottom_agency_about
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    padding: 30px;
    text-align: center;
}
/*work page*/
.the_post_thumbnail_works img
{
    width: 100%;
    height: 325px;
}
.name_cat_works
{
    margin: 10px 0px; 
}
.the_post_thumbnail_works
{
    position: relative;
}
.hvr-sweep-to-top 
{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff;
  text-decoration: none;  
}
.hvr-sweep-to-top:before 
{
  content: "";
  position: absolute;
  z-index: 998;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active 
{
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before 
{
      -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: skew(120deg);
  -webkit-transform: scaleY(256);
  transform: scaleY(01);
}
.hvr-sweep-to-top:before 
{
     background-color: rgba(0,0,0,0.5);
     -webkit-animation: random 5s infinite;
     animation: random 5s infinite;
}
.the_title_works
{
    margin: 5px 0px;
    font-weight: 600;
}
.block_works
{
    margin-bottom: 69px;
    padding: 0px 25px;
}
.grid_icon_row
{
    margin-bottom: 20px;
}
.list_works_row
{

    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    opacity: .4;
    transition: opacity .4s ease;
    cursor: pointer;
}
.list_works_row:hover
{
    opacity: 1;
}
.grid_icon_row,.list_icon_row
{
    cursor: pointer;
}
.list_view_works
{
    display: none;
}
.heading_row_work_page
{
    margin: 50px auto;
    text-align: center;
}
.heading_work_page
{
    text-align: center; 
    display: block;
    width: 100%;
}
.heading_work_page h1
{
    width: 100%;
    text-align: center;
}

.grey-scle{
     -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    position: fixed;
    opacity: 0.7;
}
.grey-scle:hover
{
    opacity: 1;
}
.grid_icon_row img
{
    top: 34%;
}
.list_icon_row img
{
    top: 38%;
}
.dis-b .row
{
    display: block;
}
.heading_sub_heading_under_services
{
    font-size: 27px;
}
.home_under_services_description_par
{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;    
}
.home_under_services_description2
{
    font-weight: 400;
    text-align: justify;    
}
.section_main_service_under_services_homepage
{
    padding: 80px 0px;
    border-bottom: 3px solid #cccc;
}
.home_under_services_img_right
{
        max-height: 414px;
    max-width: 335px;
    margin: 0 auto;
}
.section_recent_work_homepage .container-fluid
{
    width: 89%;
}
.article-section_home-page .container
{
    max-width: 1210px;
    margin: 0 auto
}
.view_all_works
{
    position: absolute;
    right: 27px;
    bottom: 10px;
    text-transform: capitalize;
}
.section_1_single_page
{
    display: flex;
    align-items: center;
    background: #273478;
    height: 804px;
    color: #fff;
    padding:100px;
}
.row.cat_single_post 
{
    color: #616c9c;
    font-size: 37px;
    text-transform: capitalize;
    font-style: italic;
}
.heading_title_workpage h1
{
    max-width: 535px;
    font-size: 45px;
    font-weight: 1000;
    text-transform: capitalize;
    letter-spacing: 4px;
    margin: 20px 0px 70px 0px;
}
.heading_columns_case_studies 
{
    text-transform: capitalize;
    color: #cccc;
    font-weight: 400;
    font-style: italic;
    margin: 10px 0px;
    font-size: 19px;
}
.columns_fields_case_studies p
{
    width: 75%;
    font-size:15px;
    color: rgba(204, 204, 204, 0.9);
}
.section_2_single_post .container
{
    background: url('./images/lappe_bg.png');
    display: block;
    height: 100%;
    position: relative;
    background-size: 100% 100%;
}
.section_2_single_post
{
    display: block;
    height: 745px;
}
.section_2_case_studies_text
{
    position: absolute;
    top: 0px;
    top: 80px;
    right: 100px;
    width: 369px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: justify;
}
.section_3_single_post .row 
{
    display: flex;
    align-items: center;
}
.section_3_single_post .row .col-md-3
{
    border-right: 2px solid #000;
    text-align: right;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 1000;
}
.section_3_single_post .row .col-md-9
{
    font-size: 19px;
}
.images_section_3_casestudies 
{
    padding: 50px;
}
.images_section_3_casestudies .col-md-4 img
{
    box-shadow: -3px 15px 20px -8px;
}
.section_3_single_post 
{
    padding: 100px 0px;
}
.section_4_single_post
{
    background: #d9e0e8;
    display: block;
    /* height: 750px; */
    padding: 100px 0px;
    padding-bottom: 0px;
}
.heading_section_4_single_post 
{
    text-align: center;
    display: block;
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 25px;
}
.carousal_sectrion_4_single_post
{
    display: flex;
    align-items: center;
    height: 560px;
}
.screen_on_board_carousal_1::before 
{
    content: "";
    position: absolute;
    width: 100%;
    height: 17px;
    background: #e5e5e5;
}

.screen_on_board_carousal_1::after 
{
    content: "";
    background: url(./images/dots_carousal_1);
    position: absolute;
    width: 100%;
    height: 17px;
    background-repeat: no-repeat;
    top: 0px;
    background-size: 43px 20px;
}

.screen_on_board_carousal_1 
{
    display: block;
    height: 560px;
    background: #fff;
    position: relative;
}
.arrow_left_carousal_1
{
    content: "";
    background: none !important;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid #000;
    cursor: pointer;
    border-left: 0;
    border-bottom: 0px;
    transform: rotate(43deg);
    right: 50%;
}
.arrow_right_carousal_1
{
    content: "";
    background: none !important;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid #000;
    border-left: 0;
    cursor: pointer;
    border-bottom: 0px;
    transform: rotate(-140deg);
    left: 50%;
}
.col-md-2 .carousel-control
{
    position: relative;
}
.section_5_single_post
{
    /*background: url('./images/work-banner.jpg');*/
    background: #ccc;
    background-size: 100% 100%;
        padding: 50px 0px;
}
.section_5_carousal
{
    display: flex;
    align-items: center;
}
.heading_section_5_single_post h1
{
    text-align: center;
    display: block;
    width: 100%;
    color: #ffff;
    font-weight: 100;
    text-transform: uppercase;
}
.heading_section_5_single_post p 
{
    text-align: center;
    display: block;
    width: 100%;
    width: 65%;
    color: #ffff;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 auto;
}
.heading_section_5_single_post 
{
    margin-bottom: 60px;
}
.section_6_single_post
{
    display: flex;
     height: 800px; 
    align-items: center;
    padding-top: 80px;
}
.section_6_single_post.container img
{
    width: 100%;
    height: 100%;
}
.section_6_single_post.container .col
{
    align-items: center;
    position: relative;
}
.bottom_left_image_section_6
{
    position: absolute;
    bottom: 0px;
}
.right_image_section_6 img
{
    width: 770px !important;
    float: right;
}
.right_image_section_6
{
    padding-top: 50px;
}
.section_6_headin_single_post h1 {
    text-transform: uppercase;
    font-size: 45px;
}
.section_6_headin_single_post p {
    font-size: 17px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 1px;
}
.carousal_lappe_bg_img img
{
    width: 100%;
    display: block;
    height: 100%;
    height: 560px;
    padding-top: 17px;
}
.img_100 img
{
    width: 100%;
    height: 100%;
}
#carouselExampleControls3
{
    width: 100%;
}
.section_7_related_posts
{
    padding: 100px 0px;

}
.item .col-md-6 .block_works
{
    padding: 0px;
}
.post_work_and_cat
{
    font-weight: 1000;
    padding: 0px 50px;
    display: none;
}
.title_post_work_and_cat
{
    width: 100%;
}
.title_post_work
{
    min-width: auto;
    margin-right: 20px;
    float: left;
}
.block_works:hover .post_work_and_cat
{
    display: block;
}
.main_row_agency
{
    padding-bottom: 100px;
    padding-top: 50px;
}

.blog-heading {
    background: #f8f8f8;
    padding: 20px 20px;
    margin: 30px 0px;
    margin-bottom: 50px;
}

.blog-heading h1 {
    text-transform: uppercase;
    color: #444;
    font-size: 36px;
    /* line-height: 40px; */
}
.blog-heading h1 span.red {
    color: #CC292C;
}

.the_date_blog_post{
    background: #efefef;
    text-align: center;
    border-radius: 5px;
    padding: 13px 0px;
    width: 100%;
    display: block;
    position: relative;
}
.the_date_blog_post::after
{
display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: -9px;
    margin-left: -10px !important;
    border-top: 10px solid #efefef;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0px;
}
ul.post-categories {
    padding: 0px;
    list-style: none;
    float: right;
    font-weight: 1000;
    width: auto;
}
.cat_name_blog
{
width: auto;
    float: left;
    text-transform: capitalize;
    font-size: 11px;
    margin: 25px 0px;
}
ul.post-categories li a
{
    font-size: 11px;
    color: #CC292C;
    font-weight: 600;
    text-transform: capitalize;
}
.row.title_blog_post {
    background: #3a3a3a;
    color: #fff;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
    line-height: 27px !important;
    color: #fff;
    text-transform: uppercase !important;
    font-weight: bold;
}
.the_thumbnail_blog_post img {
    width: 100%;
    height: 230px;
}
.right_block_post_blog
{
    padding: 0px 115px;
    margin-bottom: 50px;
}
.row.exceprt_blog_post {
    background: #f5f5f5;
    padding: 20px 20px;
    font-size: 14px;
}
.read_more_link_blog_post
{
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-color: #e6e6e6;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-transform: capitalize;
    width: auto;
}















@media only screen and (max-width: 1000px) {

    #menu-header-menu
    {
        display: none;
    }
    #changingword {
        font-size: 1rem;
        letter-spacing: 1.4px;
        font-weight: 1000;
    }
    .section_services_homepage .container-fluid
    {
        padding: 0px;
    }
    .services_post_thumbnail img
    {
        width: 100%;
    }
    .title_post_services
    {
        font-size: 18px;
        display: block;
        text-transform: capitalize;
        margin-top: 15px;
    }
    .block_servies_home-page
    {
        width: 44%;
        float: left;
        margin: 0px;
        margin-bottom: 50px;
        margin-right: 30px;
    }
    .container-fluid .block_servies_home-page:nth-child(even)
    {
        margin: 0px;
    }
    .home_under_services_img_right
    {
        width: 100%;
        margin: 0px;
    }
    .even_column_homeposts .col-md-6
    {
        display: block;
        width: 100%;
        float: left;
        flex-grow: unset;
        flex-basis: auto;
    }
    .odd_post_homeposts_row .col-md-6
    {
        padding: 97px 0;
        flex-basis: auto;
        margin: 0 auto;
    }
    .post_thumbnail_homeposts_odd
    {
        padding: 0px !important;
    }
    .odd_columns_homeposts
    {
        width: 90%;
        display: block;
        margin: 0 auto !important;
        flex-grow: unset;
        padding-top: 40px !important;
    }
    .inner-contianer
    {
        margin-right: 0px;
        width: 90%;
        margin: 0 auto;
    }
    .post_thumbnail_homeposts_odd img
    {
        width: 100%;
    }
    .post_thumbnail_homeposts_even img
    {
        width: 100%;
    }
    .even_column_homeposts
    {
        margin-bottom: 30px;
    }
    .the_post_thumbnail_works img 
    {
        height: 100%;
    }

    .block_works 
    {
        margin-bottom: 0px;
        width: 44%;
        padding: 0px;
        margin-right: 30px;
    }
    .gird_view_work .block_works:nth-child(even)
    {
        margin: 0px;
    }
    .the_post_thumbnail_works {
        position: relative;
        height: 150px;
    }
    .title_post_work 
    {
        min-width: 100%;
        margin-right: 0px;
        font-size: 0.9rem;
        text-align: center;
    }
    .article_blck
    {
        margin-bottom: 40px;
        height: auto;
    }
    .section_recent_work_homepage .container-fluid 
    {
        width: 100%;
        padding: 0px;
    }
    .post_work_and_cat
    {
        padding: 0px;
    }
    .heaidng_home_page
    {
        font-size: 32px;
        font-weight: 1000;
    }
    .tagline_heading_data_home-page
    {
        font-size: 15px;
        padding-top: 0px;
    }
    .view_all_works
    {
        right: 16px;
    }
    .tagline_heading_article_home-page
    {
        font-size: 15px;
    }
    .section_fullservices
    {
        padding: 30px 0px;
    }
    .heading_full_services h1 
    {
        font-size: 30px;
    }
    .section_fullservices .container 
    {
        width: 90%;
        margin: 0 auto;
        padding: 0px;
    }
    .section_fullservices .container .row .services_home-page_columns
    {
        width: 40%;
        margin-right: 40px;
        display: block;
        flex-basis: auto;
    }
    .section_fullservices .container .row .services_home-page_columns:nth-child(even)
    {
        margin: 0px;
    }
    .services_home-page_columns ul li
    {
        line-height: 17px;
    }
    .services_home-page_columns ul li a
    {
        font-size: 14px !important;
        text-transform: capitalize;
    }
    .services-container .row
    {
        display: block;
    }
    .request_a_quote a
    {
        width: auto;
    }
    .grey-scle
    {
        position: relative;
    }
    .list_works_row .col-md-4
    {
        text-align: center;
    }
    .section_1_single_page
    {
        padding: 100px 0px;
        height: auto;
    }
    .section_2_single_post
    {
        display: none;
    }
    .images_section_3_casestudies 
    {
        padding: 50px 0px;
    }
    .images_section_3_casestudies .col-md-4 img
    {
        width: 100%;
    }
    .images_section_3_casestudies .col-md-4
    {
        margin-bottom: 20px;
    }
    .heading_section_4_single_post
    {
        width: 100%;
        font-size: 25px;
        font-weight: 1000;
    }
    .heading_section_5_single_post p
    {
        width: 100%;
    }
    .heading_section_5_single_post h1
    {
        font-weight: 1000;
        font-size: 32px;
    }
    .section_6_single_post
    {
        display: block;
        height: auto;
    }
    .columns_fields_case_studies 
    {
        display: block;
        width: 100%;
        float: left;
        flex-basis: auto;
    }
    .columns_fields_case_studies p 
    {
        width: 100%;
    }
    .section_3_single_post
    {
        padding-bottom: 0px;
    }
    .carousal_sectrion_4_single_post
    {
        position: relative;
    }
    .carousal_sectrion_4_single_post .col-md-2
    {
        position: absolute;
        bottom: -40px;
    }
    .carousal_sectrion_4_single_post .col-md-2:first-child
    {
        left: 0px;
    }
    .carousal_sectrion_4_single_post .col-md-2:first-child
    {
        right: 0px;
    }
    .section_4_single_post
    {
        padding-bottom: 80px;
    }
    .arrow_left_carousal_1
    {
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
    }
    .arrow_right_carousal_1
    {
        transform: rotate(-136deg);
        width: 30px;
        height: 30px;
    }
    .carousal_sectrion_4_single_post
    {
        height: auto;
    }
    .screen_on_board_carousal_1
    {
        height: auto;
    }
    .carousal_lappe_bg_img img
    {
        height: 100%
    }
    .section_5_single_post
    {
        padding-bottom: 80px;
    }
    .section_5_carousal
    {
        position: relative;
    }
    .section_5_carousal .col-md-1
    {
        position: absolute;
        bottom: -40px;
    }
    .section_5_carousal .col-md-1:first-child
    {
        left: 0px;
    }
    .section_5_carousal .col-md-1:last-child
    {
        right: 0px;
    }
    .img_100
    {
        padding: 0px;
        margin-bottom: 10px;
    }
    .right_image_section_6 img
    {
        width: 100% !important
    }
    .section_6_single_post  .row .col
    {
        display: block;
        flex-basis: auto;
        width: 100%;
    }
    .bottom_left_image_section_6
    {
        position: relative;
    }
}