/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
.logo {
	text-align:center;
	width:65px;
	margin:0 auto
}
#loginContainer {
	position:relative;
	font-size:12px;
}
/* Login Button */
#loginButton {
	display:inline-block;
	float:right;
	position:relative;
	z-index:30;
	cursor:pointer;
}
/* Login Button Text */
#loginButton span {
	color:#445058;
	font-size:14px;
	font-weight:bold;
	text-shadow:1px 1px #fff;
	padding:7px 29px 9px 10px;
	background:url(../images/loginArrow.png) no-repeat 53px 7px;
	display:block
}
#loginButton:hover {
	background:url(../images/buttonbgHover.png) repeat-x;
}
/* Login Box */
#loginBox {
	position:absolute;
	top:83px;
	display:none;
	z-index:29;
	width:100%;
	overflow:hidden;
}
#toggle-menu {
	background:#CC292C;
	padding:20px 0 5px 10px;
	float:none;
	margin:0 auto;
	border-radius:20px 0 20px 0;
}
#toggle-menu ul {
	padding:0 0 20px 0;
	margin:0px;
}
#toggle-menu ul li {
	list-style:none;
	display:block;
	line-height:22px;
}
#toggle-menu ul li a {
	color:#fff;
	font-size:15px;
	display:block;
	text-decoration:none;
 -webkit-transition: all .25s ease;
 -moz-transition: all .25s ease;
 -ms-transition: all .25s ease;
 -o-transition: all .25s ease;
 transition: all .25s ease;
}
#toggle-menu ul li a:hover {
	color:#000;
 -webkit-transition: all .60s ease;
 -moz-transition: all .60s ease;
 -ms-transition: all .60s ease;
 -o-transition: all .60s ease;
 transition: all .60s ease;
}
.category {
	border-bottom:1px solid #E07F80;
	padding-bottom:5px;
	margin-bottom:10px;
}
.category a {
	color:#000 !important;
	font-size:20px !important;
	font-family:"NoticiaTextRegular", serif !important;
}
.fb{ background:url(../images/icons/fb_icon.png) no-repeat; padding-left:30px; margin:5px 0 0 0;}
.twt{background:url(../images/icons/twittwr_icon.png) no-repeat; padding-left:30px; margin:5px 0 0 0;}
.gplus{background:url(../images/icons/gplus_icon.png) no-repeat; padding-left:30px; margin:5px 0 0 0;}
.linkdin{background:url(../images/icons/lindin_icon.png) no-repeat; padding-left:30px; margin:5px 0 0 0;}
.youtube{background:url(../images/icons/youtube_icon.png) no-repeat; padding-left:30px; margin:5px 0 0 0;}
.pinterest{background:url(../images/icons/pinterest_icon.png) no-repeat; padding-left:30px; margin:5px 0 0 0;}